<p style="color: green"><%= notice %></p>

<% content_for :title, "Books" %>

<h1>Books</h1>

<table class="table id="books">
<thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Link</th>
    </tr>
  <% @books.each do |book| %>
    
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%= render book %></td>
      <td><%= link_to "Show this book", book %></td>
    </tr>
  </tbody>
  <% end %>
</table>

<%= link_to "New book", new_book_path %>
